<!DOCTYPE html>
<html>
<head>
    <title>Movie Recommender</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Movie Recommender System</h1>
    <form action="/recommend" method="post">
        <label for="movie_name">Enter a Movie Name:</label><br><br>
        <input type="text" id="movie_name" name="movie_name" placeholder="Avatar" required>
        <button type="submit">Recommend</button>
    </form>
    <h2>Top 10 Genres</h2>
<img src="{{ url_for('static', filename='genres_plot.png') }}" alt="Top Genres">
<h2>Similarity Heatmap</h2>
<img src="{{ url_for('static', filename='heatmap.png') }}" alt="Similarity Heatmap">

</body>
</html>
